.split{
    animation: split 1s linear; 
}
@keyframes split {
    

    from{
        opacity: 0;
        transform: translateY(-20px);
        

    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
}